@tailwind utilities;
/* latin */
@font-face {
	font-family: 'zpix',emoji;
	font-style: normal;
	font-weight: 400;
	src: url("../../public/font/zpix.woff2") format('woff2');
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
.content{
	contain: content;
}

.layout{
	contain: layout;
}